@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,800;1,900&family=Poppins:wght@400;500;700&display=swap');
body {font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.first-grid {
    background-color:#F5F5F5;
}
.first-grid-heading {
    font-family: 'Poppins';
    font-size: 54px;
    font-weight: 700;
    color: #3A408C;
    margin-top: 15px;
}
h1,h2,h3 {
    font-family: 'Poppins';
    font-weight: 700;
}
.active-nav {
    background-color:#004197;
    color: white;
}
.bold-span {
    font-weight: 700;
}
.product {
    background: #F3F3F3;
}